<!DOCTYPE html>
<html>
<head>
	<title>学习vue</title>
	<script type="text/javascript" src="vue-2.5.16.js"></script>
</head>
<body>
	<div id="app">
		{{abc}}
		]] abc [[

		<span v-bind:title="ads">停留</span>
		<a v-bind:href="he" v-bind:title="he">点击没惊喜</a>


		<hr>
		<span v-if="see == 1">皇帝</span>
		<span v-else-if="see == 2">皇亲</span>
		<span v-else-if="see == 3">国戚</span>
		<span v-else-if="see == 4">大臣</span>
		<span v-else>平民</span>
		<span v-show='show'>你看我在不在</span>
		<hr>

		<ul>
			<!-- <li v-for="(tag, index) in tags">{{ index + 1 }}: {{ tag }}</li> -->
			<!-- 对象 -->
			<!-- <li v-for="(value, name, index) in object">{{ index + 1 }} {{ name }}: {{ value }}</li> -->
			<!-- 对象列表 -->
			<li v-for="(value, index) in objects">{{ index }}, {{ value.name }} {{ value.age }}</li>
		</ul>

		<hr>

		<button v-on:click='add'>add</button>
		<span>运气 {{ luck }}</span>
		<hr>

		<table border="2px">
			<tr>
				<td>用户名</td>
				<td><input type="text" name="" v-model='name'></td>

			</tr>
		</table>
		<button @click='register'>注册</button>
	</div>
</body>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		// delimiters: [']]', '[['],
		data:{
			abc:'hello',
			ads: 'a litle'.toLocaleString(),
			he: 'http://www.baidu.com'.toLocaleString(),
			see: 1,
			show: true,
			tags: ['django基础', 'vue', 'flask'],
			object: {name: 'zhangsan', age: 18},
			objects: [{name: '李四', age: 55}, {name: "如花", age: 18}],
			luck: 1,
			name: '',
		},
		methods:{
			add: function () {
				this.luck ++
			},
			register: function () {
				alert(this.name)
			}
		}
	})
</script>
</html>